.contact-cnt h1 {
  text-align: center;
  padding: 0rem 1rem;
}

.contact-cnt h2 {
  margin: 4rem 0rem 2rem 0rem;
  text-align: center;
}

.zelda-cnt {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 29vw;
  justify-content: space-evenly;
}

.email-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.email-cnt span {
  margin-top: 4rem;
}

.contact-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-cnt input {
  padding: 0rem 0.5rem;
  width: 60vw;
  font-weight: 600;
  border: 1px solid var(--mainColor);
  border-radius: 0.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.form-cnt label {
  margin-bottom: 0.3rem;
}

.form-cnt textarea {
  padding: 0.3rem 0.5rem;
  width: 60vw;
  font-weight: 400;
  font-size: 1.2rem;
  border: 1px solid var(--mainColor);
  border-radius: 0.5rem;
  resize: vertical;
}

.form-cnt button {
  margin-top: 1rem;
}

.messageaaaa-cnt h2 {
  margin-top: 13rem;
}

.message-cnt {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-contact {
  cursor: pointer;
  padding: 1.1rem 1.4rem;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
  color: white;
  transition: 0.5s ease-in-out;
}

.btn-contact:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--mainFontColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.questionary-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionary {
  width: 80vw;
}
