.guides-cnt {
  padding: 5rem 10rem;
}

.img-guide {
  width: 30vw;
  height: auto;
}

.guide-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--mainBackgroundNav);
  padding: 1rem;
  width: 65vw;
  border-radius: var(--radius);
  margin-top: 5rem;
  gap: 1rem;
}

.guide-card-text h3 {
  margin-bottom: 1rem;
}

.guide-card-text h2 {
  margin-bottom: 1.5rem;
}

.guide-cnt {
  padding: 5rem 25rem 5rem 10rem;
}

.guide-cnt h1 {
  margin-bottom: 4rem;
}

.guide-cnt h2 {
  margin-bottom: 2rem;
}

.guide-cnt p {
  margin-bottom: 2rem;
}

.guide-cnt img {
  margin-bottom: 2rem;
}

.guide-img-big {
  width: 50vw;
  height: auto;
}

.guide-image-little {
  width: 14vw;
  height: auto;
}

.script {
  margin-bottom: 2rem;
}

.social-share-cnt {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
